.services {
    display: flex;
    justify-content: space-between;
    padding: 80px 376px 80px 378px;
    figure {
        margin: 0 34px 0 0;
        text-align: center;
    }
    img {
        margin-bottom: 29px;
        
    }
    span {
        @include large-text(#555555, Raleway, 22px, 400);
        
    }
    p {
        @include large-text(#8c8c8c, Montserrat, 14px, 300);
        line-height: 24px;
        margin: 19px 0 0 0;
        max-width: 267px;
        border-bottom: 3px solid green;
        border-width: 3px 70px;
        &:after {
            content: '-';
            width: 70px;
            height: 3px;
            
          }
    }
}
