//импорт стилей
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//переменные
$width: 1920px;
$color-white: #fff;
$color-black: #000;
$background-color: #f4f5f8;
//миксины
@mixin large-text($color, $family, $size, $weight) {
      color: $color;
      font-family: $family;
      font-size: $size;
      font-weight: $weight;
  }
//общие стили
body {
    max-width: $width;
    margin: 0 auto;
}
.header {
    background-image: url(../img/images/header-slider.jpg);
    background-repeat: no-repeat;
    background-color: $background-color;
    &_top {
        display: flex;
        justify-content: space-between;
        padding: 40px 375px 0 375px;
        & ul {
            display: flex;
            list-style-type: none;
        }
        & a {
            text-decoration: none;
            margin: 0 0 0 30px;
            @include large-text($color-white, Montserrat, 14px, 300);
            &:hover,
            &:active {
                color: #c7b299;
            }
        }
    }
    &_cart {
        margin: 15px 0 0 33px;
    }
    &_search {
        margin: 15px 0 0 0;
    }
    &_slider {
        display: flex;
        justify-content: space-between;
        padding: 309px 150px 0 150px;
    }
    &_slider-body {
        text-align: center;
        h2 {
            @include large-text($color-white, Raleway, 36px, 500);
            margin: 0;
        }
        h1 {
            @include large-text($color-white, Raleway, 52px, 800);
            margin: 14px 0 19px 0;
        }
        p {
            @include large-text($color-white, Montserrat, 16px, 300);
            line-height: 24px;
            margin: 0 0 52px 0;
            max-width: 568px;
        }
        a {
            text-decoration: none;
            @include large-text($color-white, Raleway, 14px, 800);
            line-height: 23px;
            text-transform: uppercase;
            box-shadow: inset 0 -3px 0 #736357;
            border-radius: 3px;
            background-color: #998675;
            padding: 21px 38px;
            &:hover {
                background-color: $color-white;
                box-shadow: inset 0 -3px 0 #dad7d5;
                color: #998675;
            }
            &:active {
                background-color: #998675;
                box-shadow: inset 0 -3px 0 #736357;
                color: $color-white;
            }
        }
    }
    &_slider-btn:hover {
      opacity: 0.5;
    }
    &_pagination {
        padding: 329px 0 13px 0;
        text-align: center;
    }
    &_circle {
        width: 11px;
        height: 11px;
        display: inline-block;
        background-color: $color-white;
        border-radius: 50%;
        margin-right: 10px;
        opacity: 0.5;
    }
    &_circle-active,
    &_circle:hover {
        width: 15px;
        height: 15px;
        border: 2px solid #d3c1ad;
        margin-bottom: -3px;
        background: inherit;
    }
}
.services {
    display: flex;
    justify-content: space-between;
    padding: 80px 376px 80px 378px;
    figure {
        margin: 0 34px 0 0;
        text-align: center;
    }
    img {
        margin-bottom: 29px;
        &:first-child {
        }
    }
    span {
        @include large-text(#555555, Raleway, 22px, 400);
    }
    p {
        @include large-text(#8c8c8c, Montserrat, 14px, 300);
        line-height: 24px;
        margin: 19px 0 0 0;
        max-width: 267px;
    }
}
