@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/images/header-slider.jpg);
  background-repeat: no-repeat;
  background-color: #241d1a;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 375px 0 375px;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 22px 0 0 0;
  padding: 0;
}

.header_list a {
  text-decoration: none;
  margin: 0 0 0 30px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.header_list a:hover, .header_list a:active {
  color: #c7b299;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.header_logo:hover {
  color: #998675;
}

.header_svg {
  fill: currentColor;
}

.header_name {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  margin: 15px 0 0 2px;
}

.header_cart {
  margin: 15px 0 0 0;
  fill: #fff;
}

.header_cart:hover, .header_cart:active {
  fill: #c7b299;
}

.header_input {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url(/img/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin: 15px 0 0 0;
  position: absolute;
}

.header_input:focus {
  width: 260px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: right;
  background-color: #fff;
  border-radius: 5px;
}

.header_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 309px 150px 0 150px;
}

.header_slider-body {
  text-align: center;
}

.header_slider-body h2 {
  color: #fff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.header_slider-body h1 {
  color: #fff;
  font-family: Raleway;
  font-size: 52px;
  font-weight: 800;
  margin: 14px 0 19px 0;
}

.header_slider-body p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 52px 0;
  max-width: 568px;
}

.header_slider-body a {
  text-decoration: none;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  padding: 21px 38px;
}

.header_slider-body a:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 0 -3px 0 #dad7d5;
          box-shadow: inset 0 -3px 0 #dad7d5;
  color: #998675;
}

.header_slider-body a:active {
  background-color: #998675;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  color: #fff;
}

.header_slider-btn_left {
  margin: 60px 0 0 0;
}

.header_slider-btn_left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 3px solid #d3c1ad;
  border-left: 3px solid #d3c1ad;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header_slider-btn_left:hover:after {
  border-bottom: 3px solid #d3c1ad;
  border-left: 3px solid #d3c1ad;
  opacity: 1;
}

.header_slider-btn_right {
  margin: 60px 0 0 0;
}

.header_slider-btn_right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 3px solid #d3c1ad;
  border-right: 3px solid #d3c1ad;
  opacity: 0.5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header_slider-btn_right:hover:after {
  border-top: 3px solid #d3c1ad;
  border-right: 3px solid #d3c1ad;
  opacity: 1;
}

.header_pagination {
  padding: 329px 0 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_circle {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #d3c1ad;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-right: 10px;
  opacity: 0.5;
}

.header_circle-active, .header_circle:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 376px 80px 378px;
}

.services_itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_itm:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.services_itm:hover .services_icon {
  fill: #c7b299;
}

.services_itm:hover .services_title {
  color: #c7b299;
}

.services_itm:hover:after {
  background-color: #c7b299;
}

.services span {
  color: #555555;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  margin: 29px 0 19px 0;
}

.services p {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  max-width: 267px;
  margin: 0 0 30px 0;
}

.waxom {
  padding: 83px 0 0 0;
  background-color: #fbfaf8;
  text-align: center;
}

.waxom_title {
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
}

.waxom_text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 24px 580px 40px 583px;
}

.waxom_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.waxom_pic-left {
  position: absolute;
  top: 82px;
  left: 345px;
  z-index: 1;
}

.waxom_pic-left:hover {
  z-index: 3;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.waxom_pic-center {
  margin: 0 auto;
  z-index: 2;
}

.waxom_pic-center:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.waxom_pic-right {
  position: absolute;
  top: 82px;
  right: 345px;
  z-index: 1;
}

.waxom_pic-right:hover {
  z-index: 3;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.purchase {
  padding: 50px 375px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase_text {
  color: #fff;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.purchase_text-color {
  color: #c7b299;
}

.purchase p {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.purchase_btn {
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  padding: 20px 28px;
  text-decoration: none;
}

.purchase_btn:hover {
  color: #998675;
  background-color: #fff;
}

.purchase_btn:active {
  color: #fff;
  background-color: #998675;
}

.our {
  padding: 85px 375px;
  text-align: center;
}

.our_title {
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
}

.our_text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 757px;
  margin: 24px auto 40px auto;
}

.our_btn button {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: transparent;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding: 0 25px;
  margin: 0 10px 40px 0;
  outline: none;
}

.our_btn button:hover, .our_btn button:first-child {
  background-color: #998675;
  color: #fff;
}

.our_btn button:active {
  background-color: #fff;
  color: #998675;
}

.our_itm-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our_itm {
  position: relative;
  margin: 0 0 30px 30px;
  font-size: 0;
}

.our_itm:first-child, .our_itm:nth-child(4) {
  margin-left: 0;
}

.our_text-wrp {
  width: 100%;
  background-color: #fbfaf8;
  position: relative;
}

.our_text-wrp:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.our_itm-title {
  display: block;
  text-align: center;
  padding: 30px 0 14px 28px;
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.our_itm-text {
  display: block;
  text-align: center;
  padding: 0 0 27px 30px;
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

.our_btn-link, .our_btn-search {
  width: 26px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  display: none;
}

.our_btn-link {
  background-color: #c7b299;
  -webkit-mask-image: url(../img/icons/link.svg);
          mask-image: url(../img/icons/link.svg);
  top: 106px;
  left: 145px;
}

.our_btn-search {
  background-color: #c7b299;
  -webkit-mask-image: url(../img/icons/lupa.svg);
          mask-image: url(../img/icons/lupa.svg);
  top: 106px;
  right: 145px;
}

.our_itm:hover .our_btn-search,
.our_itm:hover .our_btn-link {
  display: block;
}

.our:hover .our_btn-link:hover,
.our:hover .our_btn-search:hover {
  background-color: #fff;
}

.our_itm:hover .our_photo {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.our_itm:hover .our_text-wrp {
  background-color: #362f2d;
  color: #fff;
}

.our_itm:hover .our_text-wrp:before {
  border-bottom: 10px solid #362f2d;
}

.our_btn-bottom {
  display: inline-block;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  padding: 20px 45px;
  text-decoration: none;
  margin-top: 10px;
}

.our_btn-bottom:hover {
  color: #998675;
  background-color: #fff;
}

.our_btn-bottom:active {
  color: #fff;
  background-color: #998675;
}

.video {
  position: relative;
}

.video_body {
  position: absolute;
  top: 25%;
  left: 36%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.video_body span {
  color: #fff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  margin: 44px 0 29px 0;
}

.video_body p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 552px;
  margin: 0 0 40px 0;
}

.video_body time {
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.video video {
  outline: none;
  width: 100%;
  min-height: 100%;
}

.video video[poster] {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
/*# sourceMappingURL=style.css.map */