//импорт стилей
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
//переменные
$width: 1920px;
$color-white: #fff;
$color-black: #000;
$background-color: #f4f5f8;
//миксины
@mixin large-text($color, $family, $size, $weight) {
  color: $color;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}
//общие стили
body {
  max-width: $width;
  margin: 0 auto;
}
.header {
  background-image: url(../img/images/header-slider.jpg);
  background-repeat: no-repeat;
  background-color: #241d1a;
  &_top {
    display: flex;
    justify-content: space-between;
    padding: 40px 375px 0 375px;
  }
  &_list {
    display: flex;
    list-style-type: none;
    margin: 22px 0 0 0;
    padding: 0;
    & a {
      text-decoration: none;
      margin: 0 0 0 30px;
      @include large-text($color-white, Montserrat, 14px, 300);
      &:hover,
      &:active {
        color: #c7b299;
        transition: 0.3s;
      }
    }
  }
  &_logo {
    display: flex;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #998675;
      transform: rotate(360deg);
      transition: 0.3s;
    }
  }
  &_svg {
    fill: currentColor;
  }
  &_name {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin: 15px 0 0 2px;
  }
  &_cart {
    margin: 15px 0 0 0;
    fill: #fff;
    &:hover,
    &:active {
      fill: #c7b299;
      transition: 0.3s;
    }
  }
  &_input {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url(/img/icons/icon-search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 15px 0 0 0;
    position: absolute;
    &:focus {
      width: 260px;
      transition: width 1s ease-out;
      background-position: right;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  &_slider {
    display: flex;
    justify-content: space-between;
    padding: 309px 150px 0 150px;
  }
  &_slider-body {
    text-align: center;
    h2 {
      @include large-text($color-white, Raleway, 36px, 500);
      margin: 0;
    }
    h1 {
      @include large-text($color-white, Raleway, 52px, 800);
      margin: 14px 0 19px 0;
    }
    p {
      @include large-text($color-white, Montserrat, 16px, 300);
      line-height: 24px;
      margin: 0 0 52px 0;
      max-width: 568px;
    }
    a {
      text-decoration: none;
      @include large-text($color-white, Raleway, 14px, 800);
      line-height: 23px;
      text-transform: uppercase;
      box-shadow: inset 0 -3px 0 #736357;
      border-radius: 3px;
      background-color: #998675;
      padding: 21px 38px;
      &:hover {
        background-color: $color-white;
        box-shadow: inset 0 -3px 0 #dad7d5;
        color: #998675;
        transition: 0.3s;
      }
      &:active {
        background-color: #998675;
        box-shadow: inset 0 -3px 0 #736357;
        color: $color-white;
      }
    }
  }
  &_slider-btn_left {
    margin: 60px 0 0 0;
    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      opacity: 0.5;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      opacity: 1;
      transition: 0.3s;
    }
  }
  &_slider-btn_right {
    margin: 60px 0 0 0;
    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      opacity: 0.5;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      opacity: 1;
      transition: 0.3s;
    }
  }
  &_pagination {
    padding: 329px 0 13px 0;
    display: flex;
    justify-content: center;
  }
  &_circle {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #d3c1ad;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 10px;
    opacity: 0.5;
  }
  &_circle-active,
  &_circle:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
    opacity: 1;
    transition: 0.3s;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 80px 376px 80px 378px;
  &_itm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }

    &:hover .services_icon {
      fill: #c7b299;
      transition: 0.3s;
    }

    &:hover .services_title {
      color: #c7b299;
      transition: 0.3s;
    }

    &:hover:after {
      background-color: #c7b299;
      transition: 0.3s;
    }
  }
  & span {
    @include large-text(#555555, Raleway, 22px, 400);
    margin: 29px 0 19px 0;
  }
  & p {
    @include large-text(#8c8c8c, Montserrat, 14px, 300);
    line-height: 24px;
    max-width: 267px;
    margin: 0 0 30px 0;
  }
}
.waxom {
  padding: 83px 0 0 0;
  background-color: #fbfaf8;
  text-align: center;
  &_title {
    @include large-text(#555555, Raleway, 30px, 600);
  }
  &_text {
    @include large-text(#8c8c8c, Montserrat, 16px, 300);
    line-height: 28px;
    margin: 24px 580px 40px 583px;
  }
  &_picture {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &_pic-left {
    position: absolute;
    top: 82px;
    left: 345px;
    z-index: 1;
    &:hover {
      z-index: 3;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
    }
  }
  &_pic-center {
    margin: 0 auto;
    z-index: 2;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
    }
  }
  &_pic-right {
    position: absolute;
    top: 82px;
    right: 345px;
    z-index: 1;
    &:hover {
      z-index: 3;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}
.purchase {
  padding: 50px 375px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  &_text {
    @include large-text($color-white, Raleway, 28px, 400);
    margin: 0 0 8px 0;
  }
  &_text-color {
    color: #c7b299;
  }
  & p {
    @include large-text(#615855, Montserrat, 18px, 300);
    margin: 0;
  }
  &_btn {
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    @include large-text($color-white, Raleway, 14px, 800);
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 28px;
    text-decoration: none;
    &:hover {
      color: #998675;
      background-color: $color-white;
    }
    &:active {
      color: $color-white;
      background-color: #998675;
    }
  }
}
.our {
  padding: 85px 375px;
  text-align: center;
  &_title {
    @include large-text(#555555, Raleway, 30px, 700);
  }
  &_text {
    @include large-text(#8c8c8c, Montserrat, 16px, 300);
    line-height: 28px;
    max-width: 757px;
    margin: 24px auto 40px auto;
  }
  &_btn {
    & button {
      border-radius: 3px;
      border: 1px solid #ebebeb;
      background-color: transparent;
      @include large-text(#8c8c8c, Montserrat, 14px, 300);
      line-height: 32px;
      padding: 0 25px;
      margin: 0 10px 40px 0;
      outline: none;
      &:hover,
      &:first-child {
        background-color: #998675;
        color: $color-white;
        transition: 0.3s;
      }
      &:active {
        background-color: $color-white;
        color: #998675;
      }
    }
  }
  &_itm-wrp {
    display: flex;
    flex-wrap: wrap;
  }
  &_itm {
    position: relative;
    margin: 0 0 30px 30px;
    font-size: 0;
    &:first-child,
    &:nth-child(4) {
      margin-left: 0;
    }
  }
  &_text-wrp {
    width: 100%;
    background-color: #fbfaf8;
    position: relative;
  }
  &_text-wrp:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
  }
  &_itm-title {
    display: block;
    text-align: center;
    padding: 30px 0 14px 28px;
    @include large-text(#c7b299, Raleway, 20px, 500);
    text-align: left;
  }
  &_itm-text {
    display: block;
    text-align: center;
    padding: 0 0 27px 30px;
    @include large-text(#d1d1d1, Montserrat, 14px, 300);
    line-height: 20px;
    text-align: left;
  }
  &_btn-link,
  &_btn-search {
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    display: none;
  }
  &_btn-link {
    background-color: #c7b299;
    mask-image: url(../img/icons/link.svg);
    top: 106px;
    left: 145px;
  }
  &_btn-search {
    background-color: #c7b299;
    mask-image: url(../img/icons/lupa.svg);
    top: 106px;
    right: 145px;
  }
  &_itm:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0.7;
    background-color: #111;
    transition: 0.7s;
    z-index: 1;
  }
  &_itm:hover:after {
    height: 237px;
  }
  &_itm:hover .our_btn-search,
  &_itm:hover .our_btn-link {
    display: block;
    z-index: 2;
  }
  &:hover .our_btn-link:hover,
  &:hover .our_btn-search:hover {
    background-color: $color-white;
  }
  &_itm:hover .our_text-wrp {
    background-color: #362f2d;
    color: $color-white;
  }
  &_itm:hover .our_text-wrp:before {
    border-bottom: 10px solid #362f2d;
  }
  &_btn-bottom {
    display: inline-block;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    @include large-text($color-white, Raleway, 14px, 800);
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 45px;
    text-decoration: none;
    margin-top: 10px;
    &:hover {
      color: #998675;
      background-color: $color-white;
      transition: 0.3s;
    }
    &:active {
      color: $color-white;
      background-color: #998675;
    }
  }
}
.video {
  position: relative;
  &_body {
    position: absolute;
    top: 25%;
    left: 36%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    & button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        filter: brightness(60%);
        transition: 0.3s;
      }
    }
    & span {
      @include large-text($color-white, Raleway, 30px, 500);
      margin: 44px 0 29px 0;
    }
    & p {
      @include large-text($color-white, Montserrat, 16px, 300);
      line-height: 28px;
      max-width: 552px;
      margin: 0 0 40px 0;
    }
    & time {
      @include large-text(#c7b299, Montserrat, 14px, 400);
      line-height: 24px;
    }
  }
  & video {
    outline: none;
    min-width: 100%;
    max-height: 705px;
  }
  & video[poster] {
    filter: brightness(50%);
  }
}
.exellent {
  background-color: #fbfaf8;
  display: flex;
  padding: 79px 0 0 423px;
  &_body {
    margin: 116px 0 0 31px;
    & span {
      @include large-text(#555555, Raleway, 30px, 700);
    }
    & p {
      @include large-text(#8c8c8c, Montserrat, 16px, 300);
      line-height: 28px;
      margin: 40px 0 0 2px;
      max-width: 657px;
    }
    & ul {
      margin: 40px 0 0 50px;
    }
    & li {
      @include large-text(#8c8c8c, Montserrat, 16px, 300);
      line-height: 32px;
      list-style-type: none;
      padding-left: 29px;
      position: relative;
    }
    & li:before {
      content: "";
      background: url(../img/icons/list.png) no-repeat left top;
      height: 21px;
      width: 21px;
      position: absolute;
      left: -29px;
      top: 7px;
    }
  }
}
.counters {
  display: flex;
  justify-content: space-between;
  padding: 69px 500px 60px 500px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  &_itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  &_title {
    @include large-text($color-white, Montserrat, 48px, 400);
    line-height: 36px;
    margin: 30px 0 21px 0;
  }
  &_text {
    @include large-text(#c7b299, Montserrat, 14px, 300);
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }
}
.recent {
  padding: 80px 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &_title {
    @include large-text(#555555, Raleway, 30px, 400);
    margin: 0 0 30px 0;
  }
  &_text {
    @include large-text(#8c8c8c, Montserrat, 16px, 300);
    line-height: 28px;
    max-width: 757px;
    margin: 0 0 40px 0;
  }
  &_body {
    display: flex;
    justify-content: space-between;
  }
  &_itm {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &-date {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 20px 0 0 20px;
    }
    &-day {
      @include large-text($color-white, Montserrat, 24px, 300);
      line-height: 20px;
      padding: 9px 10px;
      background-color: #363636;
      border-radius: 3px 3px 0 0;
    }
    &-month {
      @include large-text($color-white, Roboto, 12px, 400);
      line-height: 20px;
      padding: 7px 13px;
      background-color: #252525;
      border-radius: 0 0 3px 3px;
    }
  }
  &_itm:nth-child(2) {
    margin: 0 30px;
  }
  &_text-wrp {
    display: flex;
    flex-direction: column;
    border: 1px solid #f8f8f8;
    max-width: 370px;
    text-align: left;
    position: relative;
    border-top: none;
    & a {
      text-decoration: none;
      @include large-text(#c7b299, Montserrat, 14px, 300);
      line-height: 20px;
      margin: 0 0 33px 30px;
      &:hover::before {
        content: "";
        border: 6px solid transparent;
        border-left: 6px solid #c7b299;
        position: absolute;
        top: 147px;
        left: 115px;
      }
    }
  }
  &_itm-title {
    @include large-text(#555555, Raleway, 20px, 500);
    margin: 30px 0 19px 29px;
  }
  &_itm-text {
    @include large-text(#8c8c8c, Montserrat, 14px, 300);
    line-height: 22px;
    margin: 0 0 27px 29px;
  }
  &_itm:hover .recent_photo {
    filter: brightness(60%);
    transition: 0.3s;
  }
  &_itm:hover .recent_text-wrp {
    background-color: #362f2d;
    border: 1px solid #362f2d;
  }
  &_itm:hover .recent_itm-title {
    color: #c7b299;
  }
  &_itm:hover .recent_itm-text {
    color: $color-white;
  }
  &_itm:hover .recent_itm-day {
    color: $color-white;
    background-color: #c7b299;
  }
  &_itm:hover .recent_itm-month {
    color: $color-white;
    background-color: #a48d72;
  }
  &_itm:hover .recent_pagination {
    margin: 187px 0 0 134px;
    display: flex;
    justify-content: center;
    position: absolute;
  }
  &_itm:hover .recent_circle {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #d3c1ad;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 10px;
    opacity: 0.5;
  }
  &_itm:hover .recent_circle-active,
  &_itm:hover .recent_circle:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
    opacity: 1;
    transition: 0.3s;
  }
  &_btn {
    display: flex;
    margin: 40px 0 0 0;
  }
  &_slider-btn_left {
    margin: 0 8px 0 0;
    border: 3px solid #d3c1ad;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      opacity: 1;
    }
  }
  &_slider-btn_right {
    border: 3px solid #d3c1ad;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      opacity: 1;
    }
  }
}
.partners {
  background-image: url(../img/images/partners_bg.jpg);
  background-repeat: no-repeat;
  background-color: #191919;
  padding: 140px 405px;
  display: flex;
  justify-content: center;
  &_img {
    margin-right: 90px;
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
  &_img:last-child {
    margin: 0 0 0 0;
  }
}
.footer {
  display: flex;
  background-color: #191919;
  padding: 80px 375px;
  &_about {
    position: relative;
    margin-right: 41px;
  }
  &_about p {
    @include large-text(#555555, Montserrat, 14px, 300);
    line-height: 24px;
    width: 258px;
    margin: 29px 0 33px 0;
    &:hover {
      color: #c7b299;
    }
  }
  &_about-more {
    text-decoration: none;
    @include large-text(#d1d1d1, Montserrat, 14px, 300);
    line-height: 20px;
    &:hover::before {
      content: "";
      border: 6px solid transparent;
      border-left: 6px solid #c7b299;
      position: absolute;
      top: 288px;
      left: 90px;
    }
  }
  &_recent {
    margin: 28px 37px 0 0;
    width: 262px;
  }
  &_recent-title {
    @include large-text($color-white, Raleway, 24px, 700);
  }
  &_recent-text {
    border-bottom: 1px solid #252525;
    padding-bottom: 20px;
  }
  &_recent-text:last-child {
    border-bottom: none;
  }
  &_recent-span {
    @include large-text(#555555, Montserrat, 14px, 300);
    line-height: 20px;
  }
  &_recent-p {
    @include large-text(#363636, Montserrat, 12px, 300);
    line-height: 20px;
    margin: 33px 0 10px 1px;
  }
  &_recent-text:hover .footer_recent-p,
  &_our-text:hover .footer_our-p {
    color: $color-white;
  }
  &_recent-text:hover .footer_recent-span,
  &_our-text:hover .footer_our-span {
    color: #c7b299;
  }
  &_our {
    margin: 27px 33px 0 0;
    width: 267px;
  }
  &_our-title {
    @include large-text($color-white, Raleway, 24px, 700);
  }
  &_our-text {
    border-bottom: 1px solid #252525;
    margin: 30px 0 0 2px;
  }
  &_our-text:last-child {
    border-bottom: none;
  }
  &_our-span {
    @include large-text(#555555, Montserrat, 14px, 300);
    line-height: 20px;
    & a {
      color: #00bff3;
    }
    & .footer_our-a {
      color: #959595;
    }
  }
  &_our-p {
    @include large-text(#363636, Montserrat, 12px, 300);
    line-height: 20px;
    margin: 11px 0 23px 2px;
  }
  &_dribbble {
    margin: 27px 0 0 0;
    & span {
      @include large-text($color-white, Raleway, 24px, 700);
    }
  }
  &_dribbble-img {
    margin: 26px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    & img {
      margin: 0 10px 10px 0;
      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
    & img:nth-child(2),
    & img:last-child {
      margin-right: 0;
    }
  }
}
.copyright {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  padding: 45px 375px 52px 375px;
  &_copy {
    @include large-text(#555555, Montserrat, 13px, 300);
    line-height: 20px;
    & a {
      text-decoration: none;
      color: #555555;
      padding: 0 10px;
      border-right: 1px solid #555555;
      &:hover {
        color: #c7b299;
      }
      &:nth-child(4) {
        border-right: none;
      }
    }
  }
  &_faq {
    text-transform: uppercase;
  }
  &_designed {
    @include large-text(#555555, Montserrat, 13px, 300);
    line-height: 20px;
    & a {
      text-decoration: none;
      color: #555555;
      padding: 0 10px;
      &:hover {
        color: #c7b299;
      }
    }
    & span {
      padding: 0 10px;
      &:first-child {
        border-right: 1px solid #555555;
      }
    }
  }
}
