//импорт стилей
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
//переменные
$width: 1920px;
$color-white: #fff;
$color-black: #000;
$background-color: #f4f5f8;
//миксины
@mixin large-text($color, $family, $size, $weight) {
  color: $color;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}
//общие стили
body {
  max-width: $width;
  margin: 0 auto;
}
.header {
  background-image: url(../img/images/header-slider.jpg);
  background-repeat: no-repeat;
  background-color: #241d1a;
  &_top {
    display: flex;
    justify-content: space-between;
    padding: 40px 375px 0 375px;
  }
  &_list {
    display: flex;
    list-style-type: none;
    margin: 22px 0 0 0;
    padding: 0;
    & a {
      text-decoration: none;
      margin: 0 0 0 30px;
      @include large-text($color-white, Montserrat, 14px, 300);
      &:hover,
      &:active {
        color: #c7b299;
      }
    }
  }
  &_logo {
    display: flex;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #998675;
    }
  }
  &_svg {
    fill: currentColor;
  }
  &_name {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin: 15px 0 0 2px;
  }
  &_cart {
    margin: 15px 0 0 0;
    fill: #fff;
    &:hover,
    &:active {
      fill: #c7b299;
    }
  }
  &_input {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url(/img/icons/icon-search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 15px 0 0 0;
    position: absolute;
    &:focus {
      width: 260px;
      transition: width 1s ease-out;
      background-position: right;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  &_slider {
    display: flex;
    justify-content: space-between;
    padding: 309px 150px 0 150px;
  }
  &_slider-body {
    text-align: center;
    h2 {
      @include large-text($color-white, Raleway, 36px, 500);
      margin: 0;
    }
    h1 {
      @include large-text($color-white, Raleway, 52px, 800);
      margin: 14px 0 19px 0;
    }
    p {
      @include large-text($color-white, Montserrat, 16px, 300);
      line-height: 24px;
      margin: 0 0 52px 0;
      max-width: 568px;
    }
    a {
      text-decoration: none;
      @include large-text($color-white, Raleway, 14px, 800);
      line-height: 23px;
      text-transform: uppercase;
      box-shadow: inset 0 -3px 0 #736357;
      border-radius: 3px;
      background-color: #998675;
      padding: 21px 38px;
      &:hover {
        background-color: $color-white;
        box-shadow: inset 0 -3px 0 #dad7d5;
        color: #998675;
      }
      &:active {
        background-color: #998675;
        box-shadow: inset 0 -3px 0 #736357;
        color: $color-white;
      }
    }
  }
  &_slider-btn_left {
    margin: 60px 0 0 0;
    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      opacity: 0.5;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-bottom: 3px solid #d3c1ad;
      border-left: 3px solid #d3c1ad;
      opacity: 1;
    }
  }
  &_slider-btn_right {
    margin: 60px 0 0 0;
    &:after {
      content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      opacity: 0.5;
      transform: rotate(45deg);
    }
    &:hover:after {
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
      opacity: 1;
    }
  }
  &_pagination {
    padding: 329px 0 13px 0;
    display: flex;
    justify-content: center;
  }
  &_circle {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #d3c1ad;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 10px;
    opacity: 0.5;
  }
  &_circle-active,
  &_circle:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
    opacity: 1;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 80px 376px 80px 378px;
  &_itm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }

    &:hover .services_icon {
      fill: #c7b299;
    }

    &:hover .services_title {
      color: #c7b299;
    }

    &:hover:after {
      background-color: #c7b299;
    }
  }
  & span {
    @include large-text(#555555, Raleway, 22px, 400);
    margin: 29px 0 19px 0;
  }
  & p {
    @include large-text(#8c8c8c, Montserrat, 14px, 300);
    line-height: 24px;
    max-width: 267px;
    margin: 0 0 30px 0;
  }
}
.waxom {
  padding: 83px 0 0 0;
  background-color: #fbfaf8;
  text-align: center;
  &_title {
    @include large-text(#555555, Raleway, 30px, 600);
  }
  &_text {
    @include large-text(#8c8c8c, Montserrat, 16px, 300);
    line-height: 28px;
    margin: 24px 580px 40px 583px;
  }
  &_picture {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &_pic-left {
    position: absolute;
    top: 82px;
    left: 345px;
    z-index: 1;
    &:hover {
      z-index: 3;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
  &_pic-center {
    margin: 0 auto;
    z-index: 2;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
  &_pic-right {
    position: absolute;
    top: 82px;
    right: 345px;
    z-index: 1;
    &:hover {
      z-index: 3;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}
.purchase {
  padding: 50px 375px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  & h2 {
    @include large-text($color-white, Raleway, 28px, 400);
    margin: 0 0 8px 0;
    & span {
      color: #c7b299;
    }
  }
  & p {
    @include large-text(#615855, Montserrat, 18px, 300);
    margin: 0;
  }
  &_btn {
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    @include large-text($color-white, Raleway, 14px, 800);
    line-height: 23px;
    text-transform: uppercase;
    padding: 20px 28px;
    text-decoration: none;
    &:hover {
      color: #998675;
      background-color: $color-white;
    }
    &:active {
      color: $color-white;
      background-color: #998675;
    }
  }
}
